@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100%;
  font-family: var(--inter-sans), sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

@layer components {
  .container-fluid {
    @apply max-w-[159.375rem] mx-auto px-4;
  }
}

/* phone input component start */
.PhoneInputInput {
  @apply border-none outline-none pl-2;
}
.PhoneInputCountry {
  @apply relative before:absolute before:h-12 before:w-[1px] before:-right-2 before:top-1/2 before:-translate-y-1/2 before:bg-[#DCDCDC];
}
.PhoneInputCountrySelectArrow {
  @apply text-2xl text-neutral-600;
}
/* phone input component end */

/* radio button */
.radio-item-wrapper:has([aria-checked="true"]) {
  background-color: #a6cf4a;
}
.radio-item-wrapper:has([aria-checked="true"]) label {
  color: #fff;
}
