@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100%;
  font-family: var(--inter-sans), sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}